body{
    background-color: rgb(85, 4, 4);
}
.tableAl{
    position: absolute;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 81, 0, 0.272);
    border-radius: 5%;
    width: 400px;
    height: 200px;
}
/*
==============
Group 1
==============
*/
.G1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 10px;
}
.H{
    display: flex;
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(0, 128, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Li{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(255, 225, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Na{
    width: 10px;
    height: 10px;
    position: relative;
    order:3;
    background-color: rgba(255, 225, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.K{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(255, 225, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Rb{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(255, 225, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Cs{
    width: 10px;
    height: 10px;
    position: relative;
    order: 6;
    background-color: rgba(255, 225, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Fr{
    width: 10px;
    height: 10px;
    position: relative;
    order: 7;
    background-color: rgba(255, 225, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 2
==============
*/
.G2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 12px;
}
.Be{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(255, 140, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Mg{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(255, 140, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ca{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(255, 140, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Sr{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(255, 140, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ba{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(255, 140, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ra{
    width: 10px;
    height: 10px;
    position: relative;
    order: 6;
    background-color: rgba(255, 140, 0, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/*
==============
Group 3
==============
*/
.G3{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 36px;
}
.Sc{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Y{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.La{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ac{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 4
==============
*/
.G4{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 36px;
}
.Ti{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Zr{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Hf{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Rf{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 5
==============
*/
.G5{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 36px;
}
.V{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Nb{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ta{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}.Db{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/*
==============
Group 6
==============
*/
.G6{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 36px;
}
.Cr{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Mo{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.W{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Sg{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 7
==============
*/
.G7{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 36px;
}
.Mn{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Tc{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Re{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Bh{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 8
==============
*/
.G8{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 36px;
}
.Fe{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ru{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Os{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Hs{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 9
==============
*/
.G9{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 36px;
}
.Co{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Rh{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ir{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Mt{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 10
==============
*/
.G10{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 36px;
}
.Ni{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Pd{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Pt{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ds{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 11
==============
*/
.G11{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 36px;
}
.Cu{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ag{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Au{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Rg{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 12
==============
*/
.G12{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 36px;
}
.Zn{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Cd{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Hg{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Cn{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(34, 129, 188, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 13
==============
*/
.G13{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 12px;
}
.B{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(128, 128, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Al{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ga{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.In{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Tl{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Nh{
    width: 10px;
    height: 10px;
    position: relative;
    order: 6;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 14
==============
*/
.G14{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 12px;
}
.C{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(161, 17, 67, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Si{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(128, 128, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ge{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(128, 128, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Sn{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Pb{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Fl{
    width: 10px;
    height: 10px;
    position: relative;
    order: 6;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 15
==============
*/
.G15{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 12px;
}
.N{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(161, 17, 67, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.P{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(161, 17, 67, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.As{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(128, 128, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Sb{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(128, 128, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Bi{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Mc{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 16
==============
*/
.G16{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 12px;
}
.O{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(161, 17, 67, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.S{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(161, 17, 67, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Se{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(161, 17, 67, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Te{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(128, 128, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Po{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(128, 128, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Po{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(128, 128, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Lv{
    width: 10px;
    height: 10px;
    position: relative;
    order: 6;
    background-color: rgba(19, 19, 19, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 17
==============
*/
.G17{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 12px;
}
.F{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(135, 207, 235, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Cl{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(135, 207, 235, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Br{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(135, 207, 235, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.I{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(135, 207, 235, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.At{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(135, 207, 235, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ts{
    width: 10px;
    height: 10px;
    position: relative;
    order: 6;
    background-color: rgba(135, 207, 235, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
/*
==============
Group 18
==============
*/
.G18{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.He{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(128, 0, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ne{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(128, 0, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ar{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(128, 0, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Kr{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(128, 0, 128, 0.917);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Xe{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(128, 0, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Rn{
    width: 10px;
    height: 10px;
    position: relative;
    order: 6;
    background-color: rgba(128, 0, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Og{
    width: 10px;
    height: 10px;
    position: relative;
    order: 7;
    background-color: rgba(128, 0, 128, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/*
Extra row ordering
*/
.XRO{
    position: absolute;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    left: 24px;
    top: 96px;
}
/*
==============
Period 6 Extention
==============
*/

.XR1{
    display: flex;
    flex-direction: row;
    order: 1;
}
.La1{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ce{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Pr{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Nd{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Pm{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Sm{
    width: 10px;
    height: 10px;
    position: relative;
    order: 6;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Eu{
    width: 10px;
    height: 10px;
    position: relative;
    order: 7;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Gd{
    width: 10px;
    height: 10px;
    position: relative;
    order: 8;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Tb{
    width: 10px;
    height: 10px;
    position: relative;
    order: 9;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Dy{
    width: 10px;
    height: 10px;
    position: relative;
    order: 10;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Ho{
    width: 10px;
    height: 10px;
    position: relative;
    order: 11;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Er{
    width: 10px;
    height: 10px;
    position: relative;
    order: 12;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Tm{
    width: 10px;
    height: 10px;
    position: relative;
    order: 13;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Yb{
    width: 10px;
    height: 10px;
    position: relative;
    order: 14;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Lu{
    width: 10px;
    height: 10px;
    position: relative;
    order: 15;
    background-color: rgba(255, 40, 40, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/*
==============
Period 7 Extention
==============
*/

.XR2{
    display: flex;
    flex-direction: row;
    order: 2;
}
.Ac1{
    width: 10px;
    height: 10px;
    position: relative;
    order: 1;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Th{
    width: 10px;
    height: 10px;
    position: relative;
    order: 2;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Pa{
    width: 10px;
    height: 10px;
    position: relative;
    order: 3;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.U{
    width: 10px;
    height: 10px;
    position: relative;
    order: 4;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Np{
    width: 10px;
    height: 10px;
    position: relative;
    order: 5;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Pu{
    width: 10px;
    height: 10px;
    position: relative;
    order: 6;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Am{
    width: 10px;
    height: 10px;
    position: relative;
    order: 7;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Cm{
    width: 10px;
    height: 10px;
    position: relative;
    order: 8;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Bk{
    width: 10px;
    height: 10px;
    position: relative;
    order: 9;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Cf{
    width: 10px;
    height: 10px;
    position: relative;
    order: 10;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Es{
    width: 10px;
    height: 10px;
    position: relative;
    order: 11;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Fm{
    width: 10px;
    height: 10px;
    position: relative;
    order: 12;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Md{
    width: 10px;
    height: 10px;
    position: relative;
    order: 13;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.No{
    width: 10px;
    height: 10px;
    position: relative;
    order: 14;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Lr{
    width: 10px;
    height: 10px;
    position: relative;
    order: 15;
    background-color: rgba(52, 217, 26, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}